<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <%= image_tag @product.product_image.url, class:"img-responsive"%>
  </div>
  <div class="col-md-8">
    <h1 class="text-center"><%= @product.name %><br/><small><%= @product.price %>$ </small></h1>
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-center">Description</h1>
        <p><%= @product.description %></p>
      </div>
      <div class="col-md-5">
        <h1 class="text-center"> Product info </h1>
        <p>
          <strong>Name:</strong>
          <%= @product.name %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= @product.price %>
        </p>
        <p>
        <p>
          <strong>Manufacturer:</strong>
          <%= @product.manufacturer %>
        </p>

        <p>
          <strong>Category:</strong>
          <%= @product.category %>
        </p>

        <p>
          <strong>Units in stock:</strong>
          <%= @product.units_in_stock %>
      </div>
    </div>

  </div>
</div>





<!--</p>-->
<!--<%= image_tag @product.product_image.url %>-->
<!--<%= image_tag @product.product_image.url(:medium) %>-->
<!--<%= image_tag @product.product_image.url(:thumb) %>-->
<%= link_to 'Edit', edit_product_path(@product) %> |
<!--<%= link_to 'Back', products_path %>-->
